* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header-container {
  /* background-color: aquamarine; */
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.logo-header {
  width: 100px;
  height: 45px;
}

.logo-img {
  width: 100%;
}

.btn-header-empty {
  min-width: 90px;
  border: solid 1px #2baeb7;
  padding: 0.5rem;
  background-color: white;
  border-radius: 5px;
  color: #2baeb7;
  margin-right: 20px;
  cursor: pointer;
}

.btn-header-full {
  border: none;
  padding: 0.5rem;
  background-color: #2baeb7;
  border-radius: 5px;
  color: white;
  margin-left: 40px;
  cursor: pointer;
}

/* //Banner */

.banner {
  width: 100%;
  height: 450px;
  margin-bottom: 20px;
  position: relative;
}

.banner-absolute {
  position: absolute;
  background-color: white;
  width: 410px;
  height: 270px;
  top: 20%;
  left: 20%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 2rem;
  gap: 20px;
  border-radius: 5px;
}

.banner-text {
  font-size: 2rem;
}

.banner-btn {
  border: none;
  padding: 1rem;
  background-color: #2baeb7;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.banner-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* //////Card Wrap////////// */

.card-flex {
  display: flex;
  /* background-color: azure; */
  flex-wrap: wrap;
}

.card {
  width: 228px;
  /* width: 100%; */
  height: 450px;
  /* background-color: bisque; */

  margin: 6px;
}

.avatar {
  display: flex;
  align-items: center;
  padding: 10px;
}

.avatar-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
  margin-right: 10px;
}

.card-img {
  width: 100%;
  height: 350px;
  /* background-color: blueviolet; */
  padding-bottom: 10px;
}

.card-img-item {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.p-black {
  color: black;
  font-size: 1rem;
  padding: 2px;
}

.p-grey {
  color: #bbbbbb;
  font-size: 0.8rem;
  padding: 2px;
}

/* ///////////Offer Card ///////// */

.offer-card {
  width: 1200px;
  height: 600px;
  background-color: aquamarine;
  display: flex;
  justify-content: space-between;
}

.offer-img-left {
  width: 450px;
  height: 600px;
  background-color: bisque;
}

.offer-content-right {
  width: 450px;
  height: 600px;
  background-color: lavender;
}

.offer-img {
  width: 100%;
  height: 100%;
}
