* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header-container {
  /* background-color: aquamarine; */
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.logo-header {
  width: 100px;
  height: 45px;
}

.logo-img {
  width: 100%;
}

.btn-header-empty {
  min-width: 90px;
  border: solid 1px #2baeb7;
  padding: 0.5rem;
  background-color: white;
  border-radius: 5px;
  color: #2baeb7;
  margin-right: 20px;
  cursor: pointer;
}

.btn-header-full {
  border: none;
  padding: 0.5rem;
  background-color: #2baeb7;
  border-radius: 5px;
  color: white;
  margin-left: 40px;
  cursor: pointer;
}

/* //Banner */

.banner {
  width: 100%;
  height: 450px;
  margin-bottom: 20px;
  position: relative;
}

.banner-absolute {
  position: absolute;
  background-color: white;
  width: 410px;
  height: 270px;
  top: 20%;
  left: 20%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 2rem;
  gap: 20px;
  border-radius: 5px;
}

.banner-text {
  font-size: 2rem;
}

.banner-btn {
  border: none;
  padding: 1rem;
  background-color: #2baeb7;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.banner-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* //////Card Wrap////////// */

.card-flex {
  display: flex;
  /* background-color: azure; */
  flex-wrap: wrap;
}

.card {
  width: 228px;
  /* width: 100%; */
  height: 450px;
  /* background-color: bisque; */

  margin: 6px;
}

.avatar {
  display: flex;
  align-items: center;
  padding: 10px;
}

.avatar-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
  margin-right: 10px;
}

.card-img {
  width: 100%;
  height: 350px;
  /* background-color: blueviolet; */
  padding-bottom: 10px;
}

.card-img-item {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.p-black {
  color: black;
  font-size: 1rem;
  padding: 2px;
}

.p-grey {
  color: #bbbbbb;
  font-size: 0.8rem;
  padding: 2px;
}

/* ///////////Offer Card ///////// */

.backgroud-offer {
  width: 100vw;
  height: 100vh;
  background-color: #ebedee;
}

.offer-card {
  width: 1200px;
  /* height: 600px; */
  /* background-color: aquamarine; */
  display: flex;
  /* justify-content: space-between; */
  justify-content: center;
  gap: 220px;
  padding: 30px;
}

.offer-img-left {
  width: 450px;
  height: 600px;
  background-color: bisque;
}

.offer-content-right {
  width: 400px;
  height: 600px;
  background-color: white;
  padding: 40px;
}

.offer-img {
  width: 100%;
  height: 100%;
}

.card-text-container {
  display: flex;
  gap: 10px;
}

.p-card-price {
  color: black;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.label {
  display: inline-block;
  width: 160px;
  height: 100%;
  font-size: 0.85rem;
}

hr {
  border: solid 1px #bbbbbb;
  margin-top: 2rem;
}
.bold {
  color: black;
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.p-grey-offer {
  color: #bbbbbb;
  font-size: 1.1rem;
  padding: 2px;
  margin-bottom: 1rem;
}

.btn-header-full-offer {
  display: block;
  width: 100%;
  border: none;
  font-size: 1rem;
  padding: 0.5rem;
  background-color: #2baeb7;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  margin-top: 1.5rem;
}

/* //////////FORMULAIRE////////// */

.h1-form {
  margin-top: 100px;
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.container-form {
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  width: 275px;
  height: 200px;
}

.container-form-input {
  display: flex;
  flex-direction: column;
  width: 100%;
}

input {
  display: block;
  border: none;
  font-size: 1rem;
  padding: 0.5rem;
  border-bottom: solid 1px #bbbbbb;
  margin-bottom: 1.3rem;
}

.btn-header-full-login {
  display: block;
  width: 100%;
  border: none;
  font-size: 1rem;
  padding: 0.5rem;
  background-color: #2baeb7;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.blue {
  font-size: 0.9rem;
  color: #2baeb7;
  text-align: center;
}

.input-checkbox {
  display: inline-block;
  align-items: center;
  margin: 0;
  width: 25px;
  height: 25px;
}

.container-checkbox {
  display: flex;
  justify-content: center;
  /* background-color: aqua; */
  align-items: center;
  gap: 10px;
  margin-bottom: 1rem;
  font-size: 1.1rem;
}
